<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080083511438-ju1mr65d49uptrt61uho1tn6p7k0ue8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080083511438-ju1mr65d49uptrt61uho1tn6p7k0ue8j</string>
	<key>API_KEY</key>
	<string>AIzaSyCSl7yn5evA2y8kl1pAifNsS7Nrt1HejNs</string>
	<key>GCM_SENDER_ID</key>
	<string>1080083511438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fetch.ly.customergludemo</string>
	<key>PROJECT_ID</key>
	<string>customergludemo</string>
	<key>STORAGE_BUCKET</key>
	<string>customergludemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080083511438:ios:279560a3a65e1cbfa6b1df</string>
</dict>
</plist>